<a href="https://colab.research.google.com/github/Supraja1419/Supraja_INFO5731_spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
def getLength(s):
    return len(s)

# Testing
s = input("Enter a string: ")
print("Length of string",s,"is:",getLength(s))

Enter a string: "Welcome to Everyone"
Length of string "Welcome to Everyone" is: 21

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here

# Python3 code to demonstrate
# each occurrence frequency using
# collections.Counter()
from collections import Counter
 
# initializing string
test_str = "google.com"
 
# using collections.Counter() to get
# count of each element in string
res = Counter(test_str)
 
# printing result
print("Count of all characters in google.com is :\n "
      + str(res))

Count of all characters in google.com is :
 Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
total = 0 
 
list1 = [ 5, 17, 18, 23] 
 
for ele in range(0, len(list1)): 
	total = total + list1[ele] 
 
print("Sum of all elements in a given list: ", total)

Sum of all elements in a given list:  63

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def change_char(str1):  
  char = str1[0]  
  length = len(str1)  
  str1 = str1.replace(char, '$')  
  str1 = char + str1[1:]  
  
  return str1  
  
print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a,b = map(int, input().split(","))
S = 3.14*(1+a/b)**3
print (S)

1,2
10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
d1={'1':10,'2':20}
d2={'3':30,'4':40}
d3={'5':50,'6':60}
d4={}
for d in (d1,d2,d3):
    d4.update(d)
print("The resultant dictionary after concatenation is:",end=" ");
print(d4)

The resultant dictionary after concatenation is: {'1': 10, '2': 20, '3': 30, '4': 40, '5': 50, '6': 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
# STEP 1 - Define a tuple with data
t = (1, 2, 3, 4, 5, 10, 32, 15, 23)

# STEP 2 - Print the tuple on screen
print('The tuple is:', t)

# STEP 3 -- Check if any value 100 exist.
# We will use "in" membership operator.
print('100 exists in t: ', (100 in t))

# -- Check if any value 10 exist.
print('10 exists in t: ', (10 in t))

# -- Check if any value 23 exist.
print('23 exists in t: ', (23 in t))

The tuple is: (1, 2, 3, 4, 5, 10, 32, 15, 23)
100 exists in t:  False
10 exists in t:  True
23 exists in t:  True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
#Create a set
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

Original set elements:
{2, 3, 20, 5, 10, 15}
<class 'set'>

Maximum value of the said set:
20

Minimum value of the said set:
2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random

students_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
cases_list = ['case1','case2','case3','case4','case5','case6','case7','case8','case9','case10'
              ,'case11','case12','case13','case14','case15','case16','case17','case18','case19','case20'
              ,'case21','case22','case23','case24','case25','case26','case27','case28','case29','case30'
              ,'case31','case32','case33','case34','case35','case36','case37','case38','case39','case40']
random.shuffle(students_list)
random.shuffle(cases_list)

groups = [students_list[i:i + 5] for i in range(0, len(students_list), 5)]

for i, g in enumerate(groups):
    print("Group", i + 1 )

    for s in g:
        print("Student ID", s)

    print("Cases: ", end = "")

    for j in range(i * 6, (i * 6) + 6):
        print(cases_list[j], end = ", ")

    print("\n- - - - -")

Group 1
Student ID sk1386
Student ID pr0353
Student ID sb1357
Student ID sm1640
Student ID jl1252
Cases: case5, case2, case13, case23, case30, case12,
- - - - -
Group 2
Student ID sc1229
Student ID ja0964
Student ID kg0569
Student ID gn0108
Student ID sa1198
Cases: case19, case36, case1, case18, case31, case15,
- - - - -
Group 3
Student ID vm0377
Student ID sm1907
Student ID sk1313
Student ID dr0609
Student ID aos0040
Cases: case24, case37, case26, case20, case3, case33,
- - - - -
Group 4
Student ID ds0814
Student ID sk1390
Student ID nv0234
Student ID av0659
Student ID ak0956
Cases: case27, case28, case40, case4, case35, case29,
- - - - -
Group 5
Student ID bg0320
Student ID sk1458
Student ID ms1500
Student ID sg1297
Student ID hy0232
Cases: case10, case25, case6, case17, case8, case21,
- - - - -
Group 6
Student ID fh0141
Student ID vb0218
Student ID ak0934
Student ID kg0470
Student ID nm0618
Cases: case9, case22, case7, case11, case32, case16,
- - - - -

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
def findDuplicates(array):
    result = []
    for x in array:
        if (array.count(x)>1) and (x not in result):
            result.append(x)
    if len(result)==0:
        return -1
    else:
        return result

# Testing
print(findDuplicates([3,2,4,3,2,5,3,7]))
print(findDuplicates([4,2,3,1,5]))

[3, 2]
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here

#headerfile to get date and time 
from datetime import date, timedelta

def sundays(year):
# January 1st of the given year
       dt = date(year, 1, 1)
# First Sunday of the given year       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
#get year from user 
year=(int(input("Enter year: ")));
for s in sundays(year):
   print(s)

Enter year: 2023
2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31